- job_name: blackbox-http
  metrics_path: /probe
  params:
    module: [http_2xx]
  static_configs:
    - targets:
        - http://student-api.student-api.svc.cluster.local:8080/health
        - http://vault.vault.svc.cluster.local:8200/v1/sys/health
        - http://argocd-server.argocd.svc.cluster.local
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: blackbox-prometheus-blackbox-exporter.observability.svc.cluster.local:9115
