kubelet:
  enabled: false

prometheus:
  prometheusSpec:
    additionalScrapeConfigs:
      - job_name: "blackbox-http"
        metrics_path: /probe
        params:
          module: [http_2xx]
        static_configs:
          - targets:
              - http://student-api.student-api.svc.cluster.local:8080
              - http://vault.vault.svc.cluster.local:8200
              - http://argocd-server.argocd.svc.cluster.local:80
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: blackbox-prometheus-blackbox-exporter.observability.svc.cluster.local:9115
